<!DOCTYPE html>
<html>
<head>
  <title>2048</title>
  <link rel="shortcut icon" type="image/x-icon" href="gaming-clipart-game-icon.png" />
<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet"></head>
<body>
  <div class="container">
    <div class="description">
      <h1>2048</h1>
      <h2 class="result"></h2>
      <h3 class="score">Score: 0</h3>
      <h4 class="high-score-container">High Score: <span class="high-score">0</span></h4>
      <p>This is a clone of one of my favorite games, 2048, that I built from scratch as a side project.<br><br>The goal is to add up blocks until you reach 2048 by using the arrow keys. Once you can no longer move any blocks, you lose. <br><br>

      This project was built with JavaScript & Sass using webpack and babel. <br><br><strong><a href="https://github.com/joshpson/2048" target="_blank">Github repository</a></strong>.</p>
      <button class="new-game">New Game</button>
    </div>
    <div class="game"></div>
</div>
</body>
</html>
