<!DOCTYPE html>
<html>
<head>
  <title>Games! Games! Games!</title>
  <link rel="shortcut icon" type="image/x-icon" href="gaming-clipart-game-icon.png" />
</head>
<body>
  <table class="container-box">
    <tr>
        <td class="inner-box"></td>
        <td class="inner-box"></td>
        <td class="inner-box"></td>
        <td class="inner-box"></td>
    </tr>
  </table>
</body>
</html>
