$box-color: #a7afb2;
$cell-color: #dadedf;

%game-grid {
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  max-width: 500px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-gap: 8px;
}

.game-background {
  @extend %game-grid;
  background: $box-color;
  z-index: 1;
}

.cells {
  @extend %game-grid;
  z-index: 2;
}

.background-cell {
  background: $cell-color;
  border: 1px;
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.new-game {
  color: #fff !important;
  text-transform: uppercase;
  background: #60a3bc;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

.new-game:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 200 ease 0s;
}
