$cell-color: #dadedf;
$box-color: #a7afb2;

$cell-size: 125px;

%game-grid {
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, $cell-size);
  grid-template-rows: repeat(4, $cell-size);
  grid-gap: 8px;
}

.game-background {
  @extend %game-grid;
  background: $box-color;
  z-index: 1;
}

.cells {
  @extend %game-grid;
  z-index: 2;
}

.background-cell {
  background: $cell-color;
  border: 1px;
  border-radius: 5px;
  width: $cell-size;
  height: $cell-size;
}

.new-game {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 16px;
  background: #455b71;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

.new-game:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 200 ease 0s;
}
