$bg-color: #47a8bd;
$box-color: #1e3888;

#root {
  background: $bg-color;
}

.grid {
  border: 1px solid black;
  margin: auto;
  width: 400px;
  height: 400px;
}

.row {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 98px;
}

.tile {
  border: 1px solid black;
  width: 25%;
  height: 98px;
}
