$bg-color: #cae2ee;
$box-color: #bfc6c5;
$color-1: #043844;
$color-2: #fffbcf;
$color-3: #e63946;

%tile {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 8px 4px;
  background: $color-1;
  position: absolute;
  // transition: 200ms;
}

.cell-1 {
  @extend %tile;
  transform: translate(0px, 0px);
}

.cell-2 {
  @extend %tile;
  transform: translate(108px, 0px);
}

.cell-3 {
  @extend %tile;
  transform: translate(216px, 0px);
}

.cell-4 {
  @extend %tile;
  transform: translate(324px, 0px);
}

.cell-5 {
  @extend %tile;
  transform: translate(0px, 108px);
}

.cell-6 {
  @extend %tile;
  transform: translate(108px, 108px);
}

.cell-7 {
  @extend %tile;
  transform: translate(216px, 108px);
}

.cell-8 {
  @extend %tile;
  transform: translate(324px, 108px);
}

.cell-9 {
  @extend %tile;
  transform: translate(0px, 216px);
}

.cell-10 {
  @extend %tile;
  transform: translate(108px, 216px);
}

.cell-11 {
  @extend %tile;
  transform: translate(216px, 216px);
}

.cell-12 {
  @extend %tile;
  transform: translate(324px, 216px);
}

.cell-13 {
  @extend %tile;
  transform: translate(0px, 324px);
}

.cell-14 {
  @extend %tile;
  transform: translate(108px, 324px);
}

.cell-15 {
  @extend %tile;
  transform: translate(216px, 324px);
}

.cell-16 {
  @extend %tile;
  transform: translate(324px, 324px);
}

.value {
  text-align: center;
  color: white;
  padding: 25px;
  font-size: 35px;
}
