%value {
  border-radius: 5px;
  height: 125px;
  width: 125px;
}

.val-2 {
  @extend %value;
  background: #a4bbc8;
}

.val-4 {
  @extend %value;
  background: #e1c0a9;
}

.val-8 {
  @extend %value;
  background: #a63340;
}

.val-16 {
  @extend %value;
  background: #403142;
}

.val-32 {
  @extend %value;
  background: #294550;
}

.val-64 {
  @extend %value;
  background: #73978c;
}

.val-128 {
  @extend %value;
  background: #455b71;
}

.val-256 {
  @extend %value;
  background: #28343d;
}

.val-512 {
  @extend %value;
  background: #eae1d0;
}

.val-1024 {
  @extend %value;
  background: #96759a;
}

.val-2048 {
  @extend %value;
  background: #de9391;
}
