@keyframes bounceFade {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.number {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 30px;
}

.enter {
  animation-duration: 250ms;
  animation-name: bounceFade;
}

%value {
  border-radius: 5px;
  height: 80px;
  width: 80px;
}

.val-2 {
  @extend %value;
  background: #004fff;
}

.val-4 {
  @extend %value;
  background: #31afd4;
}

.val-8 {
  @extend %value;
  background: #902d41;
}

.val-16 {
  @extend %value;
  background: #ff007f;
}

.val-32 {
  @extend %value;
  background: #050505;
}

.val-64 {
  @extend %value;
  background: #e67f0d;
}

.val-128 {
  @extend %value;
  background: #ffae03;
}

.val-256 {
  @extend %value;
  background: #fe4e00;
}

.val-512 {
  @extend %value;
  background: #e9190f;
}

.val-1024 {
  @extend %value;
  background: #ff0f80;
}

.val-2048 {
  @extend %value;
  background: green;
}

@keyframes wobble {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1deg) scale(1.1);
    animation-timing-function: ease-out;
  }
}

.merged {
  animation-duration: 200ms;
  animation-name: wobble;
}

%tile {
  width: 80px;
  height: 80px;
  margin: 8px;
  position: absolute;
  animation-timing-function: linear;
  transition: transform 250ms;
}

$cell-move1: 88px;
$cell-move2: 176px;
$cell-move3: 264px;

.cell-1 {
  @extend %tile;
  transform: translate(0px, 0px);
}

.cell-2 {
  @extend %tile;
  transform: translate(#{$cell-move1}, 0px);
}

.cell-3 {
  @extend %tile;
  transform: translate(#{$cell-move2}, 0px);
}

.cell-4 {
  @extend %tile;
  transform: translate(#{$cell-move3}, 0px);
}

.cell-5 {
  @extend %tile;
  transform: translate(0px, #{$cell-move1});
}

.cell-6 {
  @extend %tile;
  transform: translate(#{$cell-move1}, #{$cell-move1});
}

.cell-7 {
  @extend %tile;
  transform: translate(#{$cell-move2}, #{$cell-move1});
}

.cell-8 {
  @extend %tile;
  transform: translate(#{$cell-move3}, #{$cell-move1});
}

.cell-9 {
  @extend %tile;
  transform: translate(0px, #{$cell-move2});
}

.cell-10 {
  @extend %tile;
  transform: translate(#{$cell-move1}, #{$cell-move2});
}

.cell-11 {
  @extend %tile;
  transform: translate(#{$cell-move2}, #{$cell-move2});
}

.cell-12 {
  @extend %tile;
  transform: translate(#{$cell-move3}, #{$cell-move2});
}

.cell-13 {
  @extend %tile;
  transform: translate(0px, #{$cell-move3});
}

.cell-14 {
  @extend %tile;
  transform: translate(#{$cell-move1}, #{$cell-move3});
}

.cell-15 {
  @extend %tile;
  transform: translate(#{$cell-move2}, #{$cell-move3});
}

.cell-16 {
  @extend %tile;
  transform: translate(#{$cell-move3}, #{$cell-move3});
}

%removal-tile {
  @extend %tile;
  z-index: -1;
}

.cell-1-remove {
  @extend %removal-tile;
  transform: translate(0px, 0px);
}

.cell-2-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move1}, 0px);
}

.cell-3-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move2}, 0px);
}

.cell-4-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move3}, 0px);
}

.cell-5-remove {
  @extend %removal-tile;
  transform: translate(0px, #{$cell-move1});
}

.cell-6-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move1}, #{$cell-move1});
}

.cell-7-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move2}, #{$cell-move1});
}

.cell-8-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move3}, #{$cell-move1});
}

.cell-9-remove {
  @extend %removal-tile;
  transform: translate(0px, #{$cell-move2});
}

.cell-10-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move1}, #{$cell-move2});
}

.cell-11-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move2}, #{$cell-move2});
}

.cell-12-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move3}, #{$cell-move2});
}

.cell-13-remove {
  @extend %removal-tile;
  transform: translate(0px, #{$cell-move3});
}

.cell-14-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move1}, #{$cell-move3});
}

.cell-15-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move2}, #{$cell-move3});
}

.cell-16-remove {
  @extend %removal-tile;
  transform: translate(#{$cell-move3}, #{$cell-move3});
}
